{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bat-detail.css' %}"
/>
<script defer src="{% static 'js/bat-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="bat-container">
  <div class="bat-img">
    <img 
            src="{% static 'images/splash.png' %}" 
            alt="A cuddly widdle vampire"
            style="width: 100%"
          >
  </div>
  <div class="bat-details">
    <h1>{{ bat.name }}</h1>
    {% if bat.age > 0 %}
      <h2>A {{ bat.age }} year old {{ bat.breed }}</h2>
    {% else %}
      <h2>A {{ bat.breed }} kitten.</h2>
    {% endif %}
    <p>{{ bat.description }}</p>
        <div class="bat-actions">
      <a href="{% url 'bats_update' bat.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bats_delete' bat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/blood.png' %}" 
        alt="blooddrop"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' bat.id %}"
      method="post" 
      class="subsection-section"
    >
      {% if cat.fed_for_today %}
        <p class="fed">{{cat.name}} Satiated. For now...</p>
      {% else %}
        <p class="unfed">{{cat.name}} Hungry for blood</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
     {% if bat.feeding_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in bat.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
     {% else %}
      <p class="subsection-section">{{bat.name}} has never tasted the sweet nectar of the vein</p>
    {% endif %}
  </section>
<section class="relics">
    <div class="subsection-title">
      <h2>Relics</h2>
      <img src="{% static 'images/relic1.png' %}" alt="A cursed chalice" />
      <img src="{% static 'images/relic2.png' %}" alt="A bejeweled cruxifix" />
      <img src="{% static 'images/relic3.png' %}" alt="A large ring" />
    </div>
    <h3>{{ bat.name }}'s Relics</h3>
    <div class="subsection-section">
      {% if bat.relics.count %}
        {% for relic in bat.relics.all %}
          <div class="relic-container">
            <div 
              class="color-block"
              style="background-color: {{ relic.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
            {% load convert %}
              <p>A {% get_colour_name relic.color %} {{ relic.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{bat.name}}'s treasure pile is depleted</p>
      {% endif %}
    </div>
    <h3>Available Relics</h3>
    <div class="subsection-section">
      {% if relics.count %}
        {% for relic in relics.all %}
          <div class="relic-container">
            <div 
              class="color-block"
              style="background-color: {{ relic.color }}"
            ></div>
            <a href="{% url 'relics_detail' relic.id %}">
              <p>A {{ relic.color }} {{ relic.name }}</p>
            </a>
            <form action="" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Claim Relic</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-relics">
          {{bat.name}} has ammassed all available relics
        </p>
      {% endif %}
    </div>
  </section>
</div>


{% endblock %}