{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bat-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="bat-container">
  <div class="bat-img">
    <img 
            src="{% static 'images/splash.png' %}" 
            alt="A cuddly widdle vampire"
            style="width: 100%"
          >
  </div>
  <div class="bat-details">
    <h1>{{ bat.name }}</h1>
    {% if bat.age > 0 %}
      <h2>A {{ bat.age }} year old {{ bat.breed }}</h2>
    {% else %}
      <h2>A {{ bat.breed }} kitten.</h2>
    {% endif %}
    <p>{{ bat.description }}</p>
        <div class="bat-actions">
      <a href="{% url 'bats_update' bat.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bats_delete' bat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}