{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bat-detail.css' %}"
/>
<script defer src="{% static 'js/bat-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="bat-container">
  <div class="bat-img">
    <img 
            src="{% static 'images/splash.png' %}" 
            alt="A cuddly widdle vampire"
            style="width: 100%"
          >
  </div>
  <div class="bat-details">
    <h1>{{ bat.name }}</h1>
    {% if bat.age > 0 %}
      <h2>A {{ bat.age }} year old {{ bat.breed }}</h2>
    {% else %}
      <h2>A {{ bat.breed }} kitten.</h2>
    {% endif %}
    <p>{{ bat.description }}</p>
        <div class="bat-actions">
      <a href="{% url 'bats_update' bat.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bats_delete' bat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="blood"
      />
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="fruit"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      method="post" 
      class="subsection-section"
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in bat.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


{% endblock %}