{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/vanilla-picker@2"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/relic-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>Add a Relic</h1>
  {% endif %}
  <img src="{% static 'images/nerd-cat.svg' %}" alt="chalice or something"/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div id="parent">Select Color</div>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}