{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}

{% block content %}

<section class="logo-container">
  <img 
    src="{% static 'images/splashlogo.png' %}" 
    alt="The Bat Collector Bat"
    style="width: 100%"
    >
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'login' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}
{% endblock  %}
