body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    min-height: 100vh;
    color: rgb(255, 85, 85);
    background-color: #282a36;
  }
  
  header {
    width: 100%;
    background: rgba(255, 85, 85, .9);
    border-bottom: rgb(255, 121, 198) solid 2px;
  }
  
  nav {
    margin: 0 10px 10px;
  }
  
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  
  main {
    width: calc(100vw - 20px);
  }

  a {
    text-decoration: none;
  }
  
  nav a {
    text-decoration: none;
    font-weight: 600;
  }

  nav a:visited {
    color: black;
  }
  
  nav a:hover {
    text-decoration: none;
    color: rgb(98, 114, 164)
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav li {
    padding: 5px 8px;
  }
  
  .header-logo-container {
    margin: auto;
    padding: 10px 20px;
    max-width: 500px;
  }

  .header-title {
    width: 80%;
    margin-bottom: 5px;
}

    .header-logo {
    height: 80px;
}
  
  .page-header {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 8px;
  }
  
  .btn {
    font-size: 1.1rem;
    padding: .4rem .8rem;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: rgb(98, 114, 164);
  }
  
  .submit {
    color: #50fa7b;
    border-color: #50fa7b;
    background-color: transparent;
  }
  
  .secondary {
    color: #393939;
    border-color: #393939;
  }
  
  .warn {
    color: #ffb86c;
    border-color: #ffb86c;
  }
  
  .danger {
    color: rgb(255, 121, 198);
    border-color: rgb(255, 121, 198);
  }
  
  .page-header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .page-header img {
    height: 40px;
    margin-left:15px;
  }
  
  .page-header img:first-of-type {
    margin-left: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    header {
      position: sticky;
      display: flex;
      flex-direction: row;
      top: 0;
    }
  
    main {
      width: calc(100vw - 70px);
      max-width: 1300px;
    }
  
    nav,
    .header-logo-container {
      margin: 10px 0;
    }
  
    nav {
      margin-left: auto;
      padding: 0px 15px 0px 15px;
      height: 27px;
      display: flex;
      justify-content: center;
    }
  
    nav ul {
      margin: auto;
      flex-wrap: nowrap;
    }
  
    .header-logo-container {
      padding: 3px 15px 1px 15px;
      width: 213px;
      height: 23px;
    }

    .header-title {
        width: 80%;
        margin-bottom: 5px;
    }
    
        .header-logo {
        height: 30px;
    }
      
  
    .page-header {
      margin: 20px 0;
    }
  
    .page-header h1 {
      font-size: 42px;
    }
    
    .page-header img {
      height: 50px;
      margin-left:20px;
    }
    
    .page-header img:first-of-type {
      margin-left: 25px;
    }
  
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      header {
        background: rgba(255, 85, 85, 0.7);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
      }
    }
  }
  
  @media only screen and (min-width: 1024px) {
    header {
      margin: 20px 20px 0 20px;
      width: calc(100vw - 40px);
      max-width: 1920px;
      top: 20px;
      background-color: transparent;
      border-bottom: none;
    }
  
    nav,
    .header-logo-container {
      margin: 0;
      background: rgb(255, 85, 85);
      border: rgb(255, 85, 85) solid 2px;
      border-radius: 18px;
    }
  
    .header-logo-container {
      padding: 5px 15px 0px 15px;
      width: 256px;
      height: 28.6px;
    }

    img.header-logo {
        height: 100%;
    }
  
    nav {
      margin-left: auto;
      padding: 0px 15px 0px 15px;
      height: 33.6px;
    }
  
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      header {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
      }
  
      nav,
      .header-logo-container {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
      }
    }
  }