.bat-container {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bat-img {
    width: 75%;
    max-width: 350px;
  }
  
  .bat-actions {
    margin-top: 20px;
    height: auto;
  }
  
  .feedings-relic-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
  }
  
  .subsection-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .subsection-section {
    margin: 0 8px;
  }
  
  .relic-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .color-block {
    opacity: .8;
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
  
  .unfed,
  .fed,
  .no-relics,
  .all-relics {
    margin: 0;
    font-weight: bold;
  }
  
  .unfed,
  .no-relics {
    color: crimson;
  }
  
  .fed,
  .all-relics {
    color: green;
  }
  
  .bat-details h1 {
    font-size: 36px;
    margin: 15px 0 3px;
  }
  
  .bat-details h2 {
    margin: 0 0 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .bat-details p {
    margin: 5px 0;
  }
  
  .feedings-relic-container > section {
    width: 80%;
    min-width: 315px;
    border: rgb(255, 85, 85) solid 2px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 5px 5px 6px -1px #AAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .subsection-title img {
    height: 42px;
    margin-left: 8px;
  }
  
  .subsection-title img:first-of-type {
    margin-left: 16px;
  }
  
  .feedings h2,
  .relics h2 {
    font-size: 32px;
    margin: 0;
  }
  
  .feedings h3,
  .relics h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .subsection-section p,
  .subsection-section input,
  .subsection-section select {
    font-size: 1.1rem;
  }
  
  .subsection-section input,
  .subsection-section select {
    margin-left: 5px;
    padding: 3px;
  }
  
  .feedings table {
    width: calc(100% - 16px);
    text-align: left;
    border-collapse: collapse;
    margin: 0 8px;
  }
  
  .feedings td {
    padding: 8px 5px;
  }
  
  .feedings th {
    font-size: 1.1rem;
    padding: 5px 5px 0;
    border-bottom: rgb(255, 85, 85) solid 2px;;
  }
  
  .feedings tr:nth-child(even) {
    background-color: #44475a
  }
  
  .relic-container p {
    margin: 12px 0;
  }
  
  .relic-container a {
    text-decoration: none;
    color: #f8f8f2
  }
  
  .relic-container .btn {
    padding: .2rem .8rem;
    margin-left: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .bat-container {
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
  
    .bat-img {
      width: 20%;
      max-width: 200px;
      margin-right: 25px;
    }
  
    .feedings-relic-container {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  
    .feedings-relic-container > section {
      width: 42.5%;
    }
  }